/* page body  */

* {
  margin: 0;
}

/* header of page  */

/* start header of page  */

header {
  border-bottom: rgb(75, 75, 75) 1px solid;
}

header img {
  padding-bottom: 5px;
  vertical-align: middle;
  padding-left: 150px;
}

header ul {
  display: inline;
  padding-left: 500px;
  list-style: none;
}

header ul li {
  display: inline;
  padding: 0px 30px 0px 30px;
  font-size: medium;
  color: rgb(114, 109, 109);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

/* end header of page  */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* start home section  */

.home {
  background-image: url(../PIC/bc.jpg);
  margin: 0;
  background-size: cover;
  height: 650px;
}

.home h3 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: unset;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(89, 167, 121);
  padding-top: 230px;
}

.home p {
  padding: 10px 0 25px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
}

.home button {
  padding: 7px 30px 7px 30px;
  border-radius: 3px;
  border: rgb(109, 184, 140) 2px solid;
  background: none;
  color: rgb(109, 184, 140);
}

/* end home section  */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* start about section  */

.about .about-part1 {
  padding: 40px 170px 40px 170px;
}

.about .about-part1 img {
  vertical-align: top;
}

.about .text-img {
  display: inline-block;
  padding-left: 30px;
  padding-top: 10px;
}

.about .text-img h3 {
  padding-bottom: 5px;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(73, 138, 100);
}

.about .text-img p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.about .text-img button {
  padding: 7px 30px 7px 30px;
  border-radius: 3px;
  border: rgb(109, 184, 140) 2px solid;
  background: none;
  color: rgb(109, 184, 140);
}

.about .about-part2 .one {
  display: inline-block;
  width: 200px;
  height: 150px;
  border: rgb(109, 184, 140) 3px solid;
}
.about .about-part2 .one .users {
  font-size: 40px;
  margin: 0;
  padding: 10px 0 20px 0;
}
.about .about-part2 .one h1 {
  padding-bottom: 20px;
}
.about .about-part2 .one p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.5;
}

.about .about-part2 .two {
  display: inline-block;
  width: 200px;
  height: 150px;
  border: rgb(109, 184, 140) 3px solid;
  margin-left: 25px;
}
.about .about-part2 .two .tree {
  font-size: 40px;
  margin: 0;
  padding: 10px 0 20px 0;
}
.about .about-part2 .two h1 {
  padding-bottom: 20px;
}
.about .about-part2 .two p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.5;
}

.about .about-part2 .three {
  display: inline-block;
  width: 200px;
  height: 150px;
  border: rgb(109, 184, 140) 3px solid;
  margin-left: 25px;
}
.about .about-part2 .three .paw {
  font-size: 40px;
  margin: 0;
  padding: 10px 0 20px 0;
}
.about .about-part2 .three h1 {
  padding-bottom: 20px;
}
.about .about-part2 .three p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.5;
}

.about .about-part2 .four {
  display: inline-block;
  width: 200px;
  height: 150px;
  border: rgb(109, 184, 140) 3px solid;
  margin-left: 25px;
}
.about .about-part2 .four .circle-dollar {
  font-size: 40px;
  margin: 0;
  padding: 10px 0 20px 0;
}
.about .about-part2 .four h1 {
  padding-bottom: 20px;
}
.about .about-part2 .four p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.5;
}

/* end about section  */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* star services section  */

.services .services-text {
  padding-top: 50px;
  padding-bottom: 50px;
}
.services .services-text h1 {
  display: inline;
  font-weight: 100;
  font-size: xx-large;
  letter-spacing: 1px;
}
.services .services-text .quote-left {
  font-size: 25px;
  padding-right: 5px;
}

.services .services-text .quote-right {
  font-size: 25px;
  padding-left: 5px;
}

.services .one {
  border: rgb(109, 184, 140) 2px solid;
  background-color: rgb(224, 224, 224);
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

.services .one .seedling {
  font-size: 25px;
  padding-top: 10px;
}

.services .one h1 {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .one p {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .one a {
  color: black;
  text-decoration: none;
}

.services .two {
  border: rgb(109, 184, 140) 2px solid;
  background-color: rgb(224, 224, 224);
  display: inline-block;
  padding: 5px;
}

.services .two .recycle {
  font-size: 25px;
  padding-top: 10px;
}

.services .two h1 {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .two p {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .two a {
  color: black;
  text-decoration: none;
}

.services .three {
  border: rgb(109, 184, 140) 2px solid;
  background-color: rgb(224, 224, 224);
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
}

.services .three .hand-holding-droplet {
  font-size: 25px;
  padding-top: 10px;
}

.services .three h1 {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .three p {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .three a {
  color: black;
  text-decoration: none;
}

.services .four {
  border: rgb(109, 184, 140) 2px solid;
  background-color: rgb(224, 224, 224);
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
}

.services .four .tree {
  font-size: 25px;
  padding-top: 10px;
}

.services .four h1 {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .four p {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .four a {
  color: black;
  text-decoration: none;
}

.services .five {
  border: rgb(109, 184, 140) 2px solid;
  background-color: rgb(224, 224, 224);
  display: inline-block;
  padding: 5px;
}

.services .five .paw {
  font-size: 25px;
  padding-top: 10px;
}

.services .five h1 {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .five p {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .five a {
  color: black;
  text-decoration: none;
}

.services .six {
  border: rgb(109, 184, 140) 2px solid;
  background-color: rgb(224, 224, 224);
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
}

.services .six .solar-panel {
  font-size: 25px;
  padding-top: 10px;
}

.services .six h1 {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .six p {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.services .six a {
  color: black;
  text-decoration: none;
}

/* end services section  */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* start support us section  */

.support-us {
  background-image: url(../PIC/full-moon-behind-tree-29227773.jpg);
  margin-top: 100px;
  padding-bottom: 80px;
}

.support-us .support-us-text {
  padding-bottom: 50px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.support-us .support-us-text h1 {
  display: inline;
  font-weight: 100;
  font-size: xx-large;
  letter-spacing: 1px;
}
.support-us .support-us-text .quote-left {
  font-size: 25px;
  padding-right: 5px;
}

.support-us .support-us-text .quote-right {
  font-size: 25px;
  padding-left: 5px;
}

.support-us form {
  border: 1px white solid;
  padding: 15px;
  width: 800px;
}

.support-us .inputs .text-area {
  display: block;
  margin-bottom: 10px;
}

.support-us .inputs .name-input {
  padding-bottom: 10px;
}

.support-us .inputs .name-input .first {
  margin-right: 3px;
  width: 370px;
  height: 20px;
}

.support-us .inputs .name-input .last {
  margin-left: 3px;
  width: 370px;
  height: 20px;
}

.support-us .inputs .email-input {
  padding-bottom: 10px;
}

.support-us .inputs .email-input .email {
  margin-right: 3px;
  width: 370px;
  height: 20px;
}

.support-us .inputs .email-input .select {
  margin-left: 3px;
  width: 380px;
  height: 25px;
}

.support-us .inputs button {
  padding: 5px 20px;
  background: none;
  border-color: white;
  color: white;
}

/* end support us section  */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* start footer of page */

footer {
  background-color: rgb(36, 36, 36);
}

footer .one {
  display: inline-block;
}

footer .one img {
  padding: 5px 50px 5px 150px;
}

footer .one p {
  color: rgb(133, 133, 133);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5px;
  font-weight: 100;
  padding-left: 150px;
  padding-bottom: 10px;
  line-height: 1.5;
}

footer .two {
  display: inline-block;
  padding-left: 170px;
}

footer .two p {
  color: rgb(133, 133, 133);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin: 10px 0 10px 0;
}

footer ul {
  list-style: none;
  padding: 0;
  line-height: 1.6;
  color: rgb(133, 133, 133);
  font-size: 11px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer .three {
  display: inline-block;
  padding-left: 180px;
  vertical-align: top;
  padding-top: 50px;
}

footer .three p {
  font-size: 20px;
  color: rgb(133, 133, 133);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 5px;
}

footer .three input {
  border-radius: 5px;
  border: 2px rgb(109, 184, 140) solid;
  background: none;
  width: 125px;
  font-size: xx-small;
  padding: 5px 10px;
}

footer .three button {
  background-color: rgb(109, 184, 140);
  border-radius: 5px;
  border: 2px rgb(109, 184, 140) solid;
  width: 45px;
  height: 25px;
}

/* end footer of page  */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
